body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.encabezado-fijo {
    position: sticky;
    top: 0;
    display: flex; /* Activa flexbox */
    align-items: center; /* Centra verticalmente los elementos */
    width: 100%;
    background-color: #213e96;
    color: rgb(255, 255, 255);
    padding: 3px;
    padding-left: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

h1 {
    height: 100px; /* 100% de la altura de la pantalla */
    display: flex; /* Activar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    color: #333;
    justify-content: center;
}

table {
    width: 80%;
    border-collapse: collapse; /* Cambia a 'separate' para que los bordes de las celdas puedan ser redondeados */
    margin: 100px auto;
    border-radius: 20px; /* Bordes redondeados para la tabla */
    overflow: hidden; /* Asegura que el contenido de la tabla no sobresalga */
}

th, td {
    border: 3px solid #213e96;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #213e96;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.player-container {
    position: fixed;
    background-color: #213e96;
    bottom: 20px;
    right: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.player-container:hover {

    opacity: 1;

}

.maps-container {
    right: 200px;
    display: flex; /* Activa flexbox */
    align-items: center; /* Centra verticalmente los elementos */

    box-shadow: 0 1px 100px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
main {
    margin-top: 60px; /* Altura del header fijo */
    padding: 20px;
}